/* MOBILE STYLES */

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;

  background-color: grey;
  color: black;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

.navigation {
  background-color: #232323;
  height: 80px;
  width: 100%;
}

#large-screen-menu {
  display: none;
}

#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -100px 0 0 -50px;
  padding: 125px 50px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.section-1,
.section-2 {
  position: relative;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 60px;
  margin-bottom: 0;
}

.section-1 {
    padding-top: 30px;
    margin-top: 0;
}

.section-2 {
  background-color: white;
  margin-top: 15px;
}

img {
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

.section-1 img {
  max-width:90%;
  max-height:90%;
}

.section-2 img {
  max-width:70%;
  max-height:70%;
}

.section-2 .card {
  padding: 0 30px;
  margin-bottom: 30px;
}

.section-1 .card .card-copy h1,
.section-1 .card .card-copy p
 {
  color: white;
  padding: 0 15px;
}

.section-1 .card .card-copy h1,
.section-2 .card .card-copy h2 {
  font-size: 20px;
}

.button {
  width: 90%;
  padding: 15px 30px;
  margin: 30px auto 0;
  background-color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  border: 1px solid #cdcdcd;
  outline: none;
  -webkit-box-shadow: 5px 6px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 6px 8px 0px rgba(0,0,0,0.5);
   box-shadow: 5px 6px 8px 0px rgba(0,0,0,0.5);
   transition: all 300ms ease;
}

.button:hover {
  cursor: pointer;
  background-color: #cdcdcd;
  transition: all 300ms ease;
}

.button:active {
  transform: scale(0.99);
}


/* TABLET PORTRAIT STYLES */

@media screen and (max-width: 1065px) and (min-width: 600px) {

  body {
    background-color: lightgrey;
  }

  .navigation {
    height: 60px;
  }

  #menuToggle {
    top: 20px;
  }

  .section-1 {
      width: 80%;
  }

  .section-1 .card {
    width: 75%;
    margin:  15px auto 0;
    padding: 0;
  }

  .section-1 .card .card-copy {
      width: 90%;
      margin: 0 auto;
  }

  .section-1 .card .card-copy > * {
      margin: 10px 0;
  }

  .section-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }

  .section-2 .card {
    display: flex;
    align-items: center;
    margin: 30px 15px;
  }

  .section-2 img {
    height: 200px;
  }

  .section-2 .card .card-copy {
    text-align: left;
    padding: 0 30px;
  }

  .section-2 .card .card-copy > h1 {
    white-space: nowrap;
  }

  .section-2 .card .card-copy > * {
    margin: 0;
  }

  .section-1 .card .card-copy h1,
  .section-1 .card .card-copy p {
    color: black;
    font-weight: 700;
  }

}

/* TABLET LANDSCAPE STYLES */

@media screen and (min-width: 1066px) {

  body {
    background-color: lightgrey;
  }

  #menuToggle {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    height: 60px;
  }

  #large-screen-menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  #large-screen-menu li {
    list-style: none;
  }

  #large-screen-menu li a {
    color: white;
    font-weight: 600;
    padding-right: 15px;
  }

  #large-screen-menu li a:hover {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    padding-right: 15px;
  }

  .section-1 .card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 60px;
  }

  .section-1 img {
    width: 60%;
    height: auto;
  }

  .section-1 .card .card-copy {
    width: 40%;
    padding: 0 60px 0 0;
    text-align: left;
    margin: 0 auto;
    margin-left: 0;
  }

  .section-1 .card .card-copy > * {
    margin: 15px 0;
    color: black;
  }

  .section-1 .card .card-copy h1,
  .section-1 .card .card-copy p {
    color: black;
    font-weight: 700;
  }

  .section-2 {
    display: flex;
  }

  .section-2 img {
    width: 50%;
    height: auto;
  }

  .section-2 .card .card-copy {
    width: 70%;
    margin: 0 auto;
  }

  .section-2 .card .card-copy p {
    width: 80%;
    margin: 0 auto;
  }
}
